@use '../util/' as *;

.form-navigation {
  margin-top: auto;
  padding: 20px var(--sp);
  .container {
    position: relative;
    @include df(normal, center, row, 20px);
  }
  button,a {
    position: relative;
    flex: 1;
    @include btn;
    & {
      padding: 10px 20px;
    }
    &.forward {
      // font-weight: 600;
      background: var(--green-500);
      color: var(--text);
      border: 1px solid var(--green);
      &:hover {
        background: var(--green);
        color: var(--bg);
      }
    }
    &.absolute {
      padding: 0;
      outline: none;
      border: none;
      background: none;
    }
  }
}