@use '../util/' as *;

header.page-header {
  line-height: 1;
  border-bottom: 1px solid var(--green);
  anchor-name: --header;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  background: var(--cream);
  padding: 5px var(--sp);
  @include df(center, center);
  .wrapper {
    width: 100%;
    @include df(space-between, normal, row, 10px);
  }

  .logo {
    @include df(normal, normal, row, 15px);
    svg {
      height: 50px;
      stroke: var(--text);
    }
    &__text {
      @include df(normal, normal, column, 5px);
      h2 {
        font-size: 1.5rem;
      }
      span {
        color: #555;
        // font-weight: 700;
      }
    }
  }


  .quick-btns {
    @include df(right, center, row, 10px);
    .theme-btn {
      padding: 5px;
      background: inherit;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all .3s;
      outline: none;
      @include df(center, center);
      &:hover {
        background: var(--green-300);
        border-color: var(--green-400);
      }

      img {
        width: 30px;
      }

      &.light-mode {
        .icon-sun {
          display: none;
        }
        .icon-moon {
          display: block;
        }
      }
      &.dark-mode {
        .icon-sun {
          display: block;
        }
        .icon-moon {
          display: none;
        }
      }
    }
    .hamburger {
      width: 35px;
      height: 35px;
      outline: transparent;
      background: inherit;
      border: 1px solid transparent;
      position: relative;
      transition: all .3s;
      @include df(center, center, column, 4px);
      span {
        width: 25px;
        height: 3px;
        background: darkgreen;
        transition: all .3s;
      }
      &.open {
        span {
          position: absolute;
          &:nth-of-type(1) {
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            transform: rotate(-45deg);
          }
          &:last-of-type {
            display: none;
          }
        }
      }
      &:hover {
        background: #00ff0011;
        border: 1px solid #00550022;
        color: #005500;
      }
    }
  }
}

aside {
  z-index: 10;
  position: fixed;
  position-anchor: --header;
  top: anchor(bottom);
  right: 0;
  left: 0;
  bottom: 0;

  background: var(--cream);
  padding: 20px var(--sp);
  transition: all .5s;
  @include df(space-between, normal, column, 0);

  &.closed {
    transform: translateX(-100%);
  }

  nav {
    ul {
      list-style: none;
      @include df(normal, normal, column, 10px);
      li {
        a {
          // border: 1px solid #009900;
          border-radius: 5px;
          padding: 10px 20px 10px 10px;
          text-decoration: none;
          color: inherit;
          transition: all .3s;
          @include df(normal, center, row, 20px);
          &:hover {
            color: #007700;
            background: #00770011;
          }
          &.active {
            color: green;
            background: rgba(green,.2);
          }
        }
      }
    }
  }

  .use {
    @include df(normal, normal, column, 20px);
    button {
      @include btn(var(--text), var(--green-200));
      & {
        padding: 10px 15px;
        font-weight: 600;
        border: 1px solid;
        border-radius: 10px;
        @include df(normal, center, row, 10px);
      }
    }
  }
}

@media (min-width: $desktop) {
  header.page-header {
    width: 400px;
    padding: 10px 20px;
    .hamburger {
      display: none !important;
    }
  }
  aside {
    right: auto;
    width: 400px;
    padding: 10px 20px;

    &.closed {
      transform: translateX(0);
    }
  }
}