@use './vars' as *;
@use './mixins' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color .3s;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'space-grotesk',Monospace;
  // padding-top: 70px;
  anchor-name: --body;
  h1, h2, h3, button {
    font-family: 'jetbrains-mono';
  }
  form, .answer__section,.list {
    padding: 20px var(--sp);
  }
}

main {
  // min-height: 70dvh;
  padding-top: 50px;
  @include df(normal, normal, column);
  section {
    width: 100%;
    @include df(center, center);
    &>.container {
      width: 100%;
      max-width: 1200px;
    }
  }

  @media (min-width: $desktop) {
    position: absolute;
    position-anchor: --header;
    left: anchor(right);
    right: 0;
    anchor-name: --main;
  }
}

.special {
  color: green;
}
